<div class="form-group dnd5e ability-check-bonus">
    <label>{{label}}</label>
    <span class="dialog tag">Effect</span>
    <div class="toggle-value">
    <label class="toggle-value">{{value}}</label>
</div>
    <div class="toggle-container">
        <input 
            type="checkbox"
            class="toggle toggle-effect"
            id="toggle-checkbox-ability-check-bonus"
            data-attribute="@abilityCheckBonus"
            checked
        >
        <label class="toggle" for="toggle-checkbox-ability-check-bonus">Toggle</label>
    </div>
</div>